.App {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.App__nav-aside {
    width: 238px;
    background-color: rgba(211, 211, 211, 0.3);
    border-right: 2px solid lightgray;
}

.App__main {
    width: 100%;
}

.app-bar {
    border-bottom: 2px solid lightgray;
    height: calc(6vh-2px);
}

.content__container {
    height: 94vh;
}

.avatar__circle {
    background: lightgray;
    border-radius: 50%;
    color: #fff;
    height: 2.5em;
    position: relative;
    width: 2.5em;
}

/* переопределение bootstrap */
.table>:not(caption)>*>* {
    border: none;
}